.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #762b00;
}

#footer2 {
    background: #531f00;
}


.table-responsive {
    overflow-x: auto;
}

.card-body {
    padding: 1rem;
}

.card {
    margin: 1rem;
}

